/**
* Grids Section (soporta 6 filas)
* @class Grids
* @module base.css
*/
[class*="grids-"]
	float left
	margin-left 20px
	&:first-child
		margin-left 0
	.urb-title
		font-size 20px
.grids
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
	.grids-3
		margin-top 20px
		&:nth-child(3n+1)
			margin-left 0
		&:nth-child(-n+3)
			margin-top 0
.grids-3
	background #f7e8ca
	padding 30px 0
	text-align center
	width 220px
.grids-4
	background #f7e8ca
	margin-top 20px
	padding 30px 0
	text-align center
	width 300px
.grids-8
	background #f7e8ca
	margin-top 20px
	padding 30px 0
	text-align center
	width 620px